.card {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  max-width: 33vw;
  max-height: 50vh;

  gap: 8px;
  background-color: white;
  position: relative;

  border-radius: 10px;
  box-shadow: 0em 0em 0.3em #999;
}

@media (max-width: 650px) {
  .card {
    min-width: 60vw;
    padding: 32px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.1);
  }

  100% {
    transform: scale(1);
  }
}

.like {
  animation: pulse 0.5s ease-out alternate;
}
